.fromPrice {
  font-size: 14px;
}

.fromPrice {
  font-size: 14px;
}

.itemName {
  font-size: 13px;
}

.price {
  color: red;
  font-weight: 600;
  font-size: 18px;
}

.conditions {
  color: red;
  font-size: 12px;
}
